
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>后台</title>
<link rel="stylesheet" href="public/admin/style.css">
<link rel="stylesheet" href="public/admin/dashicons.css">
<script src="/public/admin/jquery.min.js"></script>
</head>
<body>
<div class="wrap wrap-course-edit">
<h1>课程管理</h1>
<?php require COMON_VIEW.'course_edit_tab.html'; ?>
<div class="tips"><?=$this->_tips?></div>
<div class="box">
<div class="box-title">配置习题</div>
<div class="box-body">
<!-- 新增试题的模板 -->
<div class="q-hide">
	<!-- 判断题 -->
	<table class="q-each q-type-binary">
		<tr><th><a href="#" class="q-cancel">取消</a></th>
		<td><textarea name="add[_ID_][content]" placeholder="输入题干" required></textarea>
			<span><label><input type="radio" name="add[_ID_][answer]" value="T" required>对</label>
			<label><input type="radio" name="add[_ID_][answer]" value="F" required>错</label></span>
			<input type="hidden" name="add[_ID_][type]" value="binary">
		</td></tr>
	</table>
	<!-- 单选题 -->
	<table class="q-each q-type-single">
		<tr><th><a href="#" class="q-cancel">取消</a></th>
		<td><textarea name="add[_ID_][content]" placeholder="输入题干" required></textarea>
			<span><input type="radio" name="add[_ID_][answer]" value="A" required><input type="text" name="add[_ID_][options][A]" placeholder="选项A" required></span>
			<span><input type="radio" name="add[_ID_][answer]" value="B" required><input type="text" name="add[_ID_][options][B]" placeholder="选项B" required></span>
			<span><input type="radio" name="add[_ID_][answer]" value="C" required><input type="text" name="add[_ID_][options][C]" placeholder="选项C" required></span>
			<span><input type="radio" name="add[_ID_][answer]" value="D" required><input type="text" name="add[_ID_][options][D]" placeholder="选项D" required></span>
			<input type="hidden" name="add[_ID_][type]" value="single">
		</td></tr>
	</table>
	<!-- 多选题 -->
	<table class="q-each q-type-multiple">
		<tr><th><a href="#" class="q-cancel">取消</a></th>
		<td><textarea name="add[_ID_][content]" placeholder="输入题干" required></textarea>
			<span><input type="checkbox" name="add[_ID_][answer][]" value="A"><input type="text" name="add[_ID_][options][A]" placeholder="选项A" required></span>
			<span><input type="checkbox" name="add[_ID_][answer][]" value="B"><input type="text" name="add[_ID_][options][B]" placeholder="选项B" required></span>
			<span><input type="checkbox" name="add[_ID_][answer][]" value="C"><input type="text" name="add[_ID_][options][C]" placeholder="选项C" required></span>
			<span><input type="checkbox" name="add[_ID_][answer][]" value="D"><input type="text" name="add[_ID_][options][D]" placeholder="选项D" required></span>
			<input type="hidden" name="add[_ID_][type]" value="multiple">
		</td></tr>
	</table>
	<!-- 填空题 -->
	<table class="q-each q-type-fill">
		<tr><th><a href="#" class="q-cancel">取消</a></th>
		<td><textarea name="add[_ID_][content]" placeholder="输入题干" required></textarea>
			<span><input type="text" name="add[_ID_][answer]" placeholder="输入答案"></span>
			<input type="hidden" name="add[_ID_][type]" value="fill">
		</td></tr>
	</table>
</div>
<form method="post" action="/?m=admin&c=question&a=edit&id=<?=$id?>" id="q_form">
	<!-- 判断题 -->
	<div class="q-content">
		<div class="q-title">判断题<span class="q-toggle">（显示/隐藏）</span></div>
		<div class="q-wrap q-wrap-binary">
			<!-- 输出已有的题目 -->
			<?php foreach($data['binary'] as $k=>$v): ?>
			<table class="q-each">
				<tr><th><label class="q-del"><input type="checkbox" name="del[]" value="<?=$k?>">删除</label></th>
				<td><textarea name="save[<?=$k?>][content]" required><?=$v['content']?></textarea>
					<span><label><input type="radio" name="save[<?=$k?>][answer]" value="T" <?=$v['answer']=='T'?'checked':''?> required>对</label>
					<label><input type="radio" name="save[<?=$k?>][answer]" value="F" <?=$v['answer']=='F'?'checked':''?> required>错</label></span>
					<input type="hidden" name="save[<?=$k?>][type]" value="binary">
				</td></tr>
			</table>
			<?php endforeach; ?>
		</div>
		<div class="q-act"><span class="jq-add s-add" data-type="binary"><i class="icon-cross"></i><b>添加判断题</b></span></div>
	</div>
	<!-- 单选题 -->
	<div class="q-content">
		<div class="q-title">单选题<span class="q-toggle">（显示/隐藏）</span></div>
		<div class="q-wrap q-wrap-single">
			<!-- 输出已有的题目 -->
			<?php foreach($data['single'] as $k=>$v): ?>
			<table class="q-each">
				<tr><th><label class="q-del"><input type="checkbox" name="del[]" value="<?=$k?>">删除</label></th>
					<td><textarea name="save[<?=$k?>][content]" required><?=$v['content']?></textarea>
					<span><input type="radio" name="save[<?=$k?>][answer]" value="A" <?=$v['answer']=='A'?'checked':''?> required><input type="text" name="save[<?=$k?>][options][A]" value="<?=$v['options']['A']?>" required></span>
					<span><input type="radio" name="save[<?=$k?>][answer]" value="B" <?=$v['answer']=='B'?'checked':''?> required><input type="text" name="save[<?=$k?>][options][B]" value="<?=$v['options']['B']?>" required></span>
					<span><input type="radio" name="save[<?=$k?>][answer]" value="C" <?=$v['answer']=='C'?'checked':''?> required><input type="text" name="save[<?=$k?>][options][C]" value="<?=$v['options']['C']?>" required></span>
					<span><input type="radio" name="save[<?=$k?>][answer]" value="D" <?=$v['answer']=='D'?'checked':''?> required><input type="text" name="save[<?=$k?>][options][D]" value="<?=$v['options']['D']?>" required></span>
					<input type="hidden" name="save[<?=$k?>][type]" value="single">
				</td></tr>
			</table>
			<?php endforeach; ?>
		</div>
		<div class="q-act"><span class="jq-add s-add" data-type="single"><i class="icon-cross"></i><b>添加单选题</b></span></div>
	</div>
	<!-- 多选题 -->
	<div class="q-content">
		<div class="q-title">多选题<span class="q-toggle">（显示/隐藏）</span></div>
		<div class="q-wrap q-wrap-multiple">
			<!-- 输出已有的题目 -->
			<?php foreach($data['multiple'] as $k=>$v): ?>
			<table class="q-each q-type-multiple">
				<tr><th><label class="q-del"><input type="checkbox" name="del[]" value="<?=$k?>">删除</label></th>
				<td><textarea name="save[<?=$k?>][content]" required><?=$v['content']?></textarea>
					<span><input type="checkbox" name="save[<?=$k?>][answer][]" value="A" <?=in_array('A',$v['answer'])?'checked':''?>><input type="text" name="save[<?=$k?>][options][A]" value="<?=$v['options']['A']?>" required></span>
					<span><input type="checkbox" name="save[<?=$k?>][answer][]" value="B" <?=in_array('B',$v['answer'])?'checked':''?>><input type="text" name="save[<?=$k?>][options][B]" value="<?=$v['options']['B']?>" required></span>
					<span><input type="checkbox" name="save[<?=$k?>][answer][]" value="C" <?=in_array('C',$v['answer'])?'checked':''?>><input type="text" name="save[<?=$k?>][options][C]" value="<?=$v['options']['C']?>" required></span>
					<span><input type="checkbox" name="save[<?=$k?>][answer][]" value="D" <?=in_array('D',$v['answer'])?'checked':''?>><input type="text" name="save[<?=$k?>][options][D]" value="<?=$v['options']['D']?>" required></span>
					<input type="hidden" name="save[<?=$k?>][type]" value="multiple">
				</td></tr>
			</table>
			<?php endforeach; ?>
		</div>
		<div class="q-act"><span class="jq-add s-add" data-type="multiple"><i class="icon-cross"></i><b>添加多选题</b></span></div>
	</div>
	<!-- 填空题 -->
	<div class="q-content">
		<div class="q-title">填空题<span class="q-toggle">（显示/隐藏）</span></div>
		<div class="q-wrap q-wrap-fill">
			<!-- 输出已有的题目 -->
			<?php foreach($data['fill'] as $k=>$v): ?>
			<table class="q-each q-type-fill">
				<tr><th><label class="q-del"><input type="checkbox" name="del[]" value="<?=$k?>">删除</label></th>
				<td><textarea name="save[<?=$k?>][content]" required><?=$v['content']?></textarea>
					<span><input type="text" name="save[<?=$k?>][answer]" value="<?=$v['answer']?>"></span>
					<input type="hidden" name="save[<?=$k?>][type]" value="fill">
				</td></tr>
			</table>
			<?php endforeach; ?>
		</div>
		<div class="q-act"><span class="jq-add s-add" data-type="fill"><i class="icon-cross"></i><b>添加填空题</b></span></div>
	</div>
	<input type="submit" value="保存修改" class="jq-submit">
</form>
<script>
	//向页面中添加试题
	var questionIdCount = 0; //新增试题ID计数
	function questionAdd(type){
		var target = $(".q-wrap-"+type);
		var source = $(".q-hide .q-type-"+type).clone();
		//替换ID
		source.html(source.html().replace(/_ID_/g, questionIdCount++));
		//取消事件
		source.find(".q-cancel").click(function(){
			$(this).parents(".q-each").remove();
			return false;
		});
		//追加到页面中
		target.append(source);
	}
	//添加新题
	$(".jq-add").click(function(){
		var type = $(this).attr("data-type");
		questionAdd(type);
	});
	//题型显示和隐藏
	$(".q-toggle").click(function(){
		$(this).parents(".q-content").find(".q-wrap,.q-act").toggle();
	});
	//提交表单前显示所有题型
	$(".jq-submit").mouseup(function(){
		$(".q-wrap,.q-act").show();
	});
	//表单提交前检查
	$("#q_form").submit(function(event){
		//多选题答案，至少选择一项
		$(".q-wrap-multiple .q-each").each(function(){
			if($(this).find("td input[type=checkbox]:checked").length < 1){
				$(this).find("td input[type=checkbox]:first").focus();
				event.preventDefault();
				alert('您有多选题答案未选择');
				return false;
			}
		});
	});
	//删除
	$(".q-del").click(function(){
		var each = $(this).parents(".q-each");
		if($(this).find("input[type=checkbox]").is(':checked')){
			each.addClass("q-each-curr");
			each.find("td input,td textarea").attr("disabled", "disabled");
		}else{
			$(this).parents(".q-each").removeClass("q-each-curr");
			each.find("td input,textarea").removeAttr("disabled");
		}
	});
</script>
</div>
</div>
</div>
</body>
</html>
