<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页 - 博学谷云课堂</title>
<link rel="stylesheet" href="public/home/style.css">
<script src="public/home/jquery.min.js"></script>
</head>
<body>
<!-- 顶部 -->
<div class="top"><div class="container">
	<div class="top-left">
		<a href="#">传智播客首页</a>
		<a href="#">免费视频下载</a>
		<a href="#">传智论坛</a>
		<a href="#">学习光盘</a>
		<a href="#">学习指南</a>
	</div>
	<div class="top-right">
		欢迎来到博学谷云课堂！
				test1		<a href="/?c=user" class="light">进入个人中心</a>
		<a href="/?c=user&a=logout">安全退出</a>
			</div>
</div></div>
<!-- 头部 -->
<div class="midnav"><div class="container">
	<a href="/"><img src="public/home/logo.png" alt="logo"></a>
	<span class="midnav-subtxt"></span>
</div></div>
<!-- 导航栏 -->
<div class="nav"><div class="container">
	<a href="/" data-id="0">首页</a>
		<a href="/?a=list&id=1" data-id="1">PHP</a>
		<a href="/?a=list&id=2" data-id="2">Java</a>
		<a href="/?a=list&id=3" data-id="3">iOS</a>
		<a href="/?a=list&id=4" data-id="4">UI设计</a>
		<a href="/?a=list&id=5" data-id="5">前端与移动开发</a>
		<a href="/?a=list&id=6" data-id="6">C/C++</a>
		<a href="/?a=list&id=7" data-id="7">Python</a>
	</div></div>
<!-- 内容区域 -->
<div class="main">
	<div class="main-index">
<div class="slide">
	<div class="slide-wrap">
		<ul>
			<li><a href="#"><span style="background-image:url('public/home/slide/1.jpg');"></span></a></li>
			<li><a href="#"><span style="background-image:url('public/home/slide/2.jpg');"></span></a></li>
			<li><a href="#"><span style="background-image:url('public/home/slide/3.jpg');"></span></a></li>
		</ul> 
	</div>
	<ul class="slide-circle">
		<li class="on"></li>
		<li></li>
		<li></li>
	</ul>
</div>
<script src="public/home/slide/slide.js"></script>
	<div class="m-box"><div class="container">
		<div class="m-title">近期新增课程<a href="/?a=list&id=0">查看更多</a></div>
		<div class="m-list">
						<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=4" target="_blank"><img src="public/upload/2016-05/27/83c872d9fc3418be4c277565a09e5e0e.jpg" alt="Redis之高性能服务器存储应用"></a>
				<a class="m-e-title" href="/?c=course&id=4" target="_blank">Redis之高性能服务器存储应用</a>
				<div class="m-e-info"><i>¥60.00</i><b>1人已购买</b></div>
			</div>
						<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=3" target="_blank"><img src="public/upload/2016-05/27/bb6f9a9119596b23243b3a729b759fad.jpg" alt="Linux网络流媒体服务器"></a>
				<a class="m-e-title" href="/?c=course&id=3" target="_blank">Linux网络流媒体服务器</a>
				<div class="m-e-info"><i>¥120.00</i><b>0人已购买</b></div>
			</div>
						<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=2" target="_blank"><img src="public/upload/2016-05/27/e9a7ec881eda03ae8915fae59438ac47.png" alt="HTML5微场景应用"></a>
				<a class="m-e-title" href="/?c=course&id=2" target="_blank">HTML5微场景应用</a>
				<div class="m-e-info"><i>¥100.00</i><b>1人已购买</b></div>
			</div>
						<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=1" target="_blank"><img src="public/upload/2016-05/27/cf4ccb8e4fda680eceaac05709ed8a24.jpg" alt="PHP未来-Laravel-全栈框架"></a>
				<a class="m-e-title" href="/?c=course&id=1" target="_blank">PHP未来-Laravel-全栈框架</a>
				<div class="m-e-info"><i>¥50.00</i><b>1人已购买</b></div>
			</div>
					</div>
	</div></div>
	<div class="m-box"><div class="container">
		<div class="m-title">PHP<a href="/?a=list&id=1">查看更多</a></div>
		<div class="m-list">
						<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=1" target="_blank"><img src="public/upload/2016-05/27/cf4ccb8e4fda680eceaac05709ed8a24.jpg" alt="PHP未来-Laravel-全栈框架"></a>
				<a class="m-e-title" href="/?c=course&id=1" target="_blank">PHP未来-Laravel-全栈框架</a>
				<div class="m-e-info"><i>¥50.00</i><b>1人已购买</b></div>
			</div>
						<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=3" target="_blank"><img src="public/upload/2016-05/27/bb6f9a9119596b23243b3a729b759fad.jpg" alt="Linux网络流媒体服务器"></a>
				<a class="m-e-title" href="/?c=course&id=3" target="_blank">Linux网络流媒体服务器</a>
				<div class="m-e-info"><i>¥120.00</i><b>0人已购买</b></div>
			</div>
						<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=4" target="_blank"><img src="public/upload/2016-05/27/83c872d9fc3418be4c277565a09e5e0e.jpg" alt="Redis之高性能服务器存储应用"></a>
				<a class="m-e-title" href="/?c=course&id=4" target="_blank">Redis之高性能服务器存储应用</a>
				<div class="m-e-info"><i>¥60.00</i><b>1人已购买</b></div>
			</div>
					</div>
	</div></div>
	<div class="m-box"><div class="container">
		<div class="m-title">UI设计<a href="/?a=list&id=4">查看更多</a></div>
		<div class="m-list">
						<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=2" target="_blank"><img src="public/upload/2016-05/27/e9a7ec881eda03ae8915fae59438ac47.png" alt="HTML5微场景应用"></a>
				<a class="m-e-title" href="/?c=course&id=2" target="_blank">HTML5微场景应用</a>
				<div class="m-e-info"><i>¥100.00</i><b>1人已购买</b></div>
			</div>
					</div>
	</div></div>
</div>
<script>
//点亮首页NAV
$(".nav a[data-id=0]").addClass("curr");
</script></div>
<!-- 页脚 -->
<div class="footer"><div class="container">
	PHP博学谷云课堂　本系统仅供参考和学习
</div></div>
</body>
</html>