<div class="main-index">
<div class="slide">
	<div class="slide-wrap">
		<ul>
			<li><a href="#"><span style="background-image:url('/public/home/slide/1.jpg');"></span></a></li>
			<li><a href="#"><span style="background-image:url('/public/home/slide/2.jpg');"></span></a></li>
			<li><a href="#"><span style="background-image:url('/public/home/slide/3.jpg');"></span></a></li>
		</ul>
	</div>
	<ul class="slide-circle">
		<li class="on"></li>
		<li></li>
		<li></li>
	</ul>
</div>
<script src="/public/home/slide/slide.js"></script>
<?php foreach($data as $category): if($category['data']): ?>
	<div class="m-box"><div class="container">
		<div class="m-title"><?=$category['name']?><a href="/?a=list&id=<?=$category['id']?>">查看更多</a></div>
		<div class="m-list">
			<?php foreach($category['data'] as $v): ?>
			<div class="m-each">
				<a class="m-e-img-a" href="/?c=course&id=<?=$v['id']?>" target="_blank"><img src="<?=$v['thumb']?"/public/upload/{$v['thumb']}":'/public/home/image/course.png'?>" alt="<?=$v['title']?>"></a>
				<a class="m-e-title" href="/?c=course&id=<?=$v['id']?>" target="_blank"><?=$v['title']?></a>
				<div class="m-e-info"><i>¥<?=$v['price']?></i><b><?=$v['buy']?>人已购买</b></div>
			</div>
			<?php endforeach ?>
		</div>
	</div></div>
<?php endif; endforeach; ?>
</div>
<script>
//点亮首页NAV
$(".nav a[data-id=0]").addClass("curr");
</script>
