
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>后台</title>
<link rel="stylesheet" href="public/admin/dashicons.css">
<link rel="stylesheet" href="public/admin/style.css">
<script src="public/admin/jquery.min.js"></script>
</head>
<body>
<div class="wrap wrap-course">
<h1>课程管理</h1>
<div class="s-nav">
	<div>
        <select name="category_id">
			<option value="0">所有栏目</option>
            <!-- 顶级栏目 -->
            <?php foreach($category[0] as $v): ?>
				<option value="<?=$v['id']?>"  <?= ($v['id'] == $category_id) ? 'selected' : '' ?> > <?=$v['name']?> </option>
                <!-- 子栏目 -->
                <?php if(isset($category[$v['id']])) : foreach($category[$v['id']] as $vv) : ?>
						<option value="<?=$vv['id']?>"  <?= ($vv['id'] == $category_id) ? 'selected' : '' ?> > —— <?=$vv['name']?></option>

            <?php endforeach; endif; ?>
            <?php endforeach; ?>
			</select>
		<input type="button" class="jq-change" value="筛选">
	</div>

	<div>
        <select name="order">
            <?php foreach($order_arr as $k=>$v) : ?>
			<option value="<?=$k?>"  <?=($k==$order)?'selected' : ''?> ><?=$v?></option>
            <?php endforeach;?>
		</select>
		<input type="button" class="jq-change" value="排序">
	</div>

	<div>
		<input type="text" name="search" value="<?=$search?>" placeholder="输入关键字">
		<input type="button" class="jq-change" value="搜索文章">
	</div>
</div>
<div class="tips"><?=$this->_tips?></div>
<div class="box">
<div class="box-body">
<?php  if($data['data']) : ?>

	<table>
		<tr><th width="80">状态</th><th>课程标题</th><th width="120">所属栏目</th><th width="150">创建时间</th><th width="200">操作</th></tr>
        <?php foreach($data['data'] as $v): ?>
            <tr>
				<td class="s-show"><i class="<?=($v['publish'] == 1) ? 'icon-yes' : 'icon-wait'?>"></i> <?=($v['publish'] == 1) ? '已发布' : '未发布'?> </td>
				<td class="s-title"><a href="/?c=course&id=<?=$v['id']?>" target="_blank"><?=$v['title']?></a></td>
				<td><a href="/?m=admin&c=course&category_id=<?=$v['category_id']?>"><?=$v['category_name']?></a></td>
				<td><?=$v['time']?></td>
				<td class="s-act">
					<a href="/?m=admin&c=course&a=edit&id=<?=$v['id']?>">课程</a>
					<a href="/?m=admin&c=course">视频</a>
					<a href="admin-question-edit.html">习题</a>
					<a href="#" data-id="<?=$v['id']?>" class="jq-del">删除</a>
				</td>
			</tr>
        <?php endforeach; ?>
	</table>
    <div class="pagelist"><?=Page::html($data['total'], $page, $size)?></div>

<?php endif;?>
</div>
</div>
<div class="pagelist"></div>
</div>
<script>
(function(){
	//自动生成URL
	function getCourseUrl(){
		var target = '/?m=admin&c=course'; //目标链接
		var category_id = $('select[name=category_id] option:selected').val();    //栏目ID
		var order = $('select[name=order] option:selected').val();    //排序
		var search = encodeURIComponent($('input[name=search]').val());   //搜索关键字
		return target + '&category_id=' + category_id + '&order=' + order + '&search=' + search;
	}

	//列表功能按钮
	$(".jq-change").click(function(){
		location.href = getCourseUrl();
	});
	//删除前提示
	$(".jq-del").click(function(){
		if(confirm("您确定要删除此课程？")){
			var id = $(this).attr("data-id");
			location.href = getCourseUrl() + '&page=1&exec=del&id=' + id + '&token=c15a2f6833d839516c2d95b4ce48456b';
		}
		return false;
	});
})();
</script>
</body>
</html>
